<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page of Shop Form</title>
  </head>
  <body>
    <form action="" method="POST" novalidate>
        {% csrf_token %}
        {% for fo in form %}
        {{fo.non_field_error}} 
        <div>
            {{fo.label_tag}} {{fo}} {{fo.errors | striptags}}
        </div>
        {% endfor %}
      <input type="submit" value="Sumbit" />
    </form>
  </body>
</html>
