*{
    margin:0;
    padding: 0;
}

body{
    background-color: blue;
    color: white;

}
 /* Ensure this CSS is applied after Bootstrap's CSS */
 .custom-carousel .carousel-inner {
    height: auto; /* Set your desired height */
  }

img {
    object-fit: cover;
  }