<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crud Operation</title>
    <link rel="stylesheet" href="{% static 'enroll/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'enroll/css/style.css' %}">
</head>

<body>

    <div class="container mt-3">
        <h1 class="text-center alert alert-danger">Function Based View Model Form Crud Project</h1>
    {% block content %}
      
    {% endblock content %}
        </div>
    


    <script src="{% static 'enroll/js/boostrap.js' %}"></script>
    <script src="{% static 'enroll/js/jquery.js' %}"></script>
    <script src="{% static 'enroll/js/popper.js' %}"></script>
</body>
</html>