<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Home Page of the Ecommerce Store</title>
</head>
<style>
  table{
    margin:10px
  }
  th,td{
    margin:5px;
    padding:10px;
    border:2px solid blue;
  }
</style>
<body>

    {% comment %} Nava Starts Here  {% endcomment %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url "defaulthome" %}">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url "defaulthome" %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url "shop" %}">Shop</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url "shopdashboard" %}">Shop Dashboard</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>


    {% comment %} Nava Ends Here  {% endcomment %}



      {% comment %} {% include "top.html" with p="Python" c="C++" j="Java" js="javascript" only%} {% endcomment %}
      {% include "top.html" with p="P" c="C+" j="Jav" js="js" only %}
    {% block heading %}
    <h1 class="text-light bg-dark text-center">Home page</h1>

      <table border="2px solid black">
        <thead>
          <tr> 
            <th>Id: </th>
            <th>StuId: </th>
            <th>StuName: </th>
            <th>StuAddres: </th>
            <th>StuMessage: </th>
          </tr>
        </thead>


        <tbody>
          {% if stu %}
            {% for x  in stu  %}
              <tr>
                <td>{{x.id}}</td>
                <td>{{x.stuid}}</td>
                <td>{{x.stuName}}</td>
                <td>{{x.stuAddress}}</td>
                <td>{{x.stuMessage}}</td>
              </tr> 
            {% endfor %}
          {% endif %}
          

        </tbody>
      </table>
    {% endblock heading %}
      {% comment %} <h2>hello</h2> {% endcomment %}
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.min.js"></script>
</body>
</html>
