<!DOCTYPE html>
{% load static %}
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Ecommerce Shop | Home Page</title>
</head>
<style>
    
</style>
<body>

    <ul>
        {% comment %} <li><a href="{{ df_urls.home }}">Home</a></li>
        <li><a href="{{ df_urls.about }}">About</a></li>
        <li><a href="{{ df_urls.contact }}">Contact</a></li>
        <li><a href="{{ df_urls.blog }}">Blog</a></li> {% endcomment %}
        {% comment %} <li><a href="{{ fee_url.blog }}">Fee</a></li>
        <li><a href="{{ fee_url.blog }}">Fee Structure</a></li> {% endcomment %}

        
        
        {% comment %} <li><a href="/">Home</a></li>
        <li><a href="/blog">blog</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact`</a></li> {% endcomment %}


        <li><a href="{% url "home" %}">Home</a></li>
        <li><a href="{% url "blog" %}">blog</a></li>
        <li><a href="{% url "about" %}">About</a></li>
        <li><a href="{% url "contact" %}">Contact`</a></li>
        <li><a href="{% url 'shop:fee' %}">FEE</a></li>
        <li><a href="{% url 'shop:feestructure' %}">FEE Structure</a></li>
    </ul>
     
    {% block heading %}
    <h1>Home Page</h1>
    {% endblock heading %}

    <form action="" method="get">
        <div>
            <label for="id_name">Name:</label>
            <input type="text" name="name" id="id_name">
        </div>
        <div>
            <label for="id_email">Email:</label>
            <input type="email" name="email" id="id_email">
        </div>
    </form>
    <hr><hr>
    <form action="" method="get">
        <div>
            <label for="id_name">Name:</label>
            <input type="text" name="name" id="id_name">
        </div>
        <div>
            <label for="id_email">Email:</label>
            <input type="email" name="email" id="id_email">
        </div>
    </form>
    <hr><hr>
    <div>
        <label for="{{f.name.id_for_label}}">Name:</label>
        {{f.name}}
    </div>
    <div>
        {{f.email.label_tag}}
        {{f.email}}
    </div>
    <hr><hr>
    {{f}}



    
<table border ="2px solid black">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Product Price </th>
            <th>Description</th>
            <th>Catagory</th>
            <th>Brand</th>
            <th>Images</th>
            <th>Stock Quantity</th>
            <th>Crated At</th>
            <th>Updated At</th>
            <th>is_Featured</th>
            <th>is_avaiable</th>
        </tr>
    </thead>
    <tbody>
        {% for st in shop  %}
        <tr>
            <td>{{st.product_name}}</td>
            <td>{{st.product_price}}</td>
            <td>{{st.description}}</td>
            <td>{{st.category}}</td>
            <td>{{st.brand}}</td>
            <td>{{st.image}}</td>
            <td>{{st.stock_quantity}}</td>
            <td>{{st.created_at}}</td>
            <td>{{st.updated_at}}</td>
            <td>{{st.is_featured}} </td>
            <td>{{st.is_available}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
        
        
        

</body>
</html>