<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit Data Page</title>
</head>
<body>
    
    <form method="POST" J>
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Submit">
    </form>

    
    <h1>
        Your Input Data is 
    </h1>

    {% comment %} {{result}}x {% endcomment %}
    Name: {{result.name}} <br>
    Email: {{result.email}} <br>
    Passwrod: {{result.password}} <br>
</body>
</html>